body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

div {
  width: 350px;
}

input[type=checkbox].image-expandable {
  display: none;
}

input[type=checkbox].image-expandable+label {
  float: left;
  margin: 5px;
}

input[type=checkbox].image-expandable:checked {
  background: red;
}

input[type=checkbox].image-expandable:checked+label img {
  width: 200px;
}

input[type=checkbox].readmore {
  display: none;
}

input[type=checkbox].readmore+label {
  display: block;
  color: blue;
  text-decoration: underline;
}

input[type=checkbox].readmore+label:after {
  content: "more...";
}

input[type=checkbox].readmore+label+p {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

input[type=checkbox].readmore:checked {
  background: red;
}

input[type=checkbox].readmore:checked+label:after {
  content: "less...";
}

input[type=checkbox].readmore:checked+label+p {
  max-height: 100px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
